<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Simple Annual Interest'%>
    <%= f.label :sai do %><br>
    <%= f.text_field :sai %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label 'Payments Per Year'%>
    <%= f.label :ppy do %><br>
    <%= f.number_field :ppy %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label 'Years selected'%>
    <%= f.label :year do %><br>
    <%= f.number_field :year %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
