<p id="notice"><%= notice %></p>

<h1>Customer Financing Table</h1>

<table>
  <thead>
    <tr>
      <th>Simple Annual Interest</th>
      <th>Payments per Year</th>
      <th>Years Chosen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= number_to_percentage(finance.sai) %></td>
        <td><%= finance.ppy %></td>
        <td><%= finance.year %></td>
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance', new_finance_path %>
<br> </br>
<%= link_to 'Back To Home Page', welcome_index_path %>