<p id="notice"><%= notice %></p>

<p>
  <strong>Sai:</strong>
  <%= number_to_percentage(@finance.sai) %>
</p>

<p>
  <strong>Ppy:</strong>
  <%= @finance.ppy %>
</p>

<p>
  <strong>Year:</strong>
  <%= @finance.year %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
