<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Sales Rep</th>
      <th>Customer</th>
      <th>Car</th>
      <th>Price</th>
      <th>Sales Tax</th>
      <th>Total price</th>
      <th>Quote Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.worker.name %></td>
        <td><%= quote.customer.name %></td>
        <td><%= quote.car.model %></td>
        <td><%= number_to_currency(quote.price) %></td>
        <td><%= number_to_percentage(quote.sale_tax) %></td>
        <td><%= number_to_currency(quote.total_price) %></td>
        <td><%= quote.quote_status %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
<br> </br>
<%= link_to 'Back To Home Page', welcome_index_path %>
