<p id="notice"><%= notice %></p>

<p>
  <strong>Worker:</strong>
  <%= @quote.worker_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer_id %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @quote.price %>
</p>

<p>
  <strong>Sale tax:</strong>
  <%= @quote.sale_tax %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @quote.total_price %>
</p>

<p>
  <strong>Quote status:</strong>
  <%= @quote.quote_status %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
