<p id="notice"><%= notice %></p>

<h1>Car to Manager Relations</h1>

<table>
  <thead>
    <tr>
      <th>Manager</th>
      <th>Car</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.manager.name %></td>
        <td><%= inventory.car.model %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
<br> </br>
<%= link_to 'Back To Home Page', welcome_index_path %>