<p id="notice"><%= notice %></p>

<p>
  <strong>Manager:</strong>
  <%=@inventory.manager(spike) %>
</p>

<p>
  <strong>Car:</strong>
  <%= @inventory.car_id %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
