<p id="notice"><%= notice %></p>

<h1>Financial Information for Compylight Auto</h1>

<table>
  <thead>
    <tr>
      <th>Total gross revenue</th>
      <th>Net profit</th>
      <th>Sales tax total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= number_to_currency(owner.total_gross_revenue) %></td>
        <td><%= number_to_currency(owner.net_profit) %></td>
        <td><%= number_to_percentage(owner.sales_tax_total) %></td>
        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?, Data will be lost !' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Financial Report', new_owner_path %>
<br> </br>
<%= link_to 'Back To Home Page', welcome_index_path %>