<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manager.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @manager.department %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @manager.hire_date %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
