<h1>Welcome to Compylight AutoSales</h1>

Please type customer name to search
<br>
<%= form_tag(customers_path, :method => "get", id: "search_customer-form") do %>
    <%= text_field_tag :search_customer, params[:search_customer], placeholder: "Search for Customer" %>
    <%= submit_tag "Search" %>
<% end %>

<% if @customer.present? %>
    <%= render @customers %>

<% end %>

<br> </br>
<%= link_to 'Compylights Customers ', customers_path %>
<br> </br>
<%= link_to 'Create Quote', quotes_path %>
<br> </br>
<%= link_to 'Customer Finances', finances_path %>
<br> </br>
<%= link_to 'Compylight Employees', workers_path %>
<br> </br>
<%= link_to 'Current Sales', sales_path %>
<br> </br>
<%= link_to 'Compylight Financial Information', owners_path %>
<br> </br>
<%= link_to 'Current Managers', managers_path %>
<br> </br>
<%= link_to 'Managers Sold Inventory', inventories_path %>
<br> </br>
<%= link_to 'Car Information', cars_path %>
<br> </br>

<p>Compylight AutoSales, a Jesus Lozano Jr. Company</p>

