<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Select Car purchased'%>
    <%= f.label :car_id do %><br>
    <%= f.collection_select :car_id ,Car.all, :id, :model%>
        <% end %>
  </div>
  <div class="field">
    <%= f.label 'Financing?'%>
    <%= f.label :finance do %><br>
    <%= f.check_box :finance, {}, "Yes", "No" %>
        No
        <%= f.check_box :finance, {}, "Yes", "No" %>
        Yes
    <% end %>
  </div>
  <div class="field">
    <%= f.label 'Financed Amount: '%>
    <%= f.label :finance_id do %><br>
    <%= f.number_field :finance_id %>
<% end %>
  </div>
  <div class="field">
    <%= f.label 'Date of Birth'%>
    <%= f.label :dob do %><br>
    <%= f.date_select :dob %>
<% end %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
