<p id="notice"><%= notice %></p>

<h1>Compylights Customers' Information</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Car</th>
      <th>Financing?</th>
      <th>Financed Total</th>
      <th>D.O.B</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.cars.model %></td>
        <td><%= customer.finance %></td>
        <td><%= number_to_currency(customer.finance_id) %></td>
        <td><%= customer.dob %></td>
        <td><%= customer.address %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
<br> </br>
<%= link_to 'Back To Home Page', welcome_index_path %>