<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @customer.car_id %>
</p>

<p>
  <strong>Finance?:</strong>
  <%= @customer.finance %>
</p>

<p>
  <strong>Finance:</strong>
  <%= @customer.finance_id %>
</p>

<p>
  <strong>D.O.B.:</strong>
  <%= @customer.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
