<p id="notice"><%= notice %></p>

<h1>Complylight Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hire date</th>
      <th>Department</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.hire_date %></td>
        <td><%= worker.department %></td>
        <td><%= worker.area %></td>
        <td><%= link_to 'Show', worker %></td>
        <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worker', new_worker_path %>
<br> </br>
<%= link_to 'Back To Home Page', welcome_index_path %>