<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Hire date:</strong>
  <%= @worker.hire_date %>
</p>

<p>
  <strong>Department:</strong>
  <%= @worker.department %>
</p>

<p>
  <strong>Area:</strong>
  <%= @worker.area %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
