<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Msrp</th>
      <th>Price</th>
      <th>Acquired</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.vin %></td>
        <td><%= number_to_currency(car.msrp) %></td>
        <td><%= number_to_currency(car.price) %></td>
        <td><%= car.acquired %></td>
        <td><%= car.sold %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
<br> </br>
<%= link_to 'Back To Home Page', welcome_index_path %>