<p id="notice"><%= notice %></p>

<h1>Employee Sales</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Car</th>
      <th>Worker</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.customer.name %></td>
        <td><%= sale.car.model %></td>
        <td><%= sale.worker.name %></td>
        <td><%= number_to_currency(sale.sold) %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
<br> </br>
<%= link_to 'Back To Home Page', welcome_index_path %>
