<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer_id %>
</p>

<p>
  <strong>Car:</strong>
  <%= @sale.car_id %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @sale.worker_id %>
</p>

<p>
  <strong>Sold Price:</strong>
  <%= @sale.sold %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
